<div class="background">
    <section id="contact">
        <div class="contact-box">
            <div class="contact-links">
                <h2>CONTACT</h2>
                <br>
                <h2>ME</h2>

                <br><br>
                <div style="color: rgb(247, 245, 245);">
                    I will respond to you via following email address :
                    codeitfrun@gmail.com
                    🙂
                </div>

            </div>
            <div class="contact-form-wrapper">
                <form [formGroup]="contactFormControl">

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Your Name</mat-label>
                        <input matInput formControlName="name" id="name" placeholder="Your Name">
                        <mat-error>{{ errorMessageForName }}</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" id="email" placeholder="Email" ngModel [email]="true">
                        <mat-error>{{ errorMessageForEmail }}</mat-error>
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Message</mat-label>
                        <textarea matInput formControlName="message" id="message" placeholder="Message"
                            matInput></textarea>
                        <mat-error>{{ errorMessageForMessage }}</mat-error>
                    </mat-form-field>

                    <!-- <ngx-recaptcha2 #captchaElem siteKey="6Le4QMgiAAAAAAOTyKVIOn5UDfM7LTsx4ckWTaiq"
                                formControlName="recaptcha">
                            </ngx-recaptcha2> -->

                    <br>

                    <button [disabled]="!contactFormControl.valid" mat-raised-button color="primary" class="full-width"
                        (click)="sendMessage()" onclick="sendMail()">
                        <p>Send Message</p>
                    </button>

                </form>

            </div>

        </div>
    </section>
</div>
<app-footer></app-footer>