<!--Use  class="d-block w-100" or class="d-block img-fluid" to control the responsiveness of the carousel-->
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
            <img src="assets/web_dev.webp" class="d-block w-100" height="500px" width="1550px" alt="carousel-item1">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="assets/laptop.webp" class="d-block w-100" height="500px" width="1550px" alt="carousel-item2">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="assets/coding.webp" class="d-block w-100" height = "500px" width ="1550px" alt="carousel-item3">
        </div>
    </div>
    <button class="carousel-control-prev" href="#carouselExampleIndicators" type="button"
        data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" href="#carouselExampleIndicators" type="button"
        data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>