.footer {
  background-color: #3a0ca3;
  color: white;


  text-align: center;
  padding: 8px;
 
  //clear: both;
  position: relative;
  margin: 0;
  
  left: 0px;
  right: 0px;
  height: 80px;
  //width: 600px;
  
  //margin-top: 585px;
  
 
}
